
.mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  .web {
    display: none;
  }
}
.drawer-logo {
  max-height: 50px;
}
.sider-btn {
  height: 75px;
}
.flex.end-btn {
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}
.menu-ul {
  overflow-y: auto;
  overflow-x: hidden;
}
/* width */
body::-webkit-scrollbar,
.menu-ul::-webkit-scrollbar,
.strcte::-webkit-scrollbar,
.ant-modal-body::-webkit-scrollbar {
  width: 7px;
  -webkit-appearance: none;
}

/* Track */
body::-webkit-scrollbar-track,
.menu-ul::-webkit-scrollbar-track,
.strcte::-webkit-scrollbar-track,
.ant-modal-body::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-appearance: none;
}

/* Handle */
body::-webkit-scrollbar-thumb,
.menu-ul::-webkit-scrollbar-thumb,
.strcte::-webkit-scrollbar-thumb,
.ant-modal-body::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
  -webkit-appearance: none;
}

.menu-ul , .ant-modal-body ,body{
  scrollbar-face-color: rgb(210,210,210); /* Firefox 63 compatibility */
  scrollbar-track-color: white; /* Firefox 63 compatibility */
  scrollbar-color:white;
  overflow-x: hidden;
  scrollbar-width:none;
  -ms-scrollbar-width:none;
}

.pointer{
  cursor: pointer;
}
.tableImage{
  width: 50px;
  height: 30px;
  object-fit: contain;
}
.ck-editor__editable_inline {
  min-height: 100px;
  max-height: 200px;
}
