$logowidth : 80%;
$maincolor: red;
//$maincolor: #404040;
$menucolor: rgba(92,182,86,0.1);
$selectedmenu: $maincolor;
$darkmaincolor: darkred;
$whitecolor: #fff;
$loginbackColor:#EFF2F1;
$inputbackcolor:$menucolor;
$inputcolor: #390707;
$mainloginLogo: url('./../../img/logon.png') ;
