$logowidth : 80%;
$maincolor: rgb(132, 0, 255);
//$maincolor: #404040;
$menucolor: rgba(92,182,86,0.1);
$selectedmenu: $maincolor;
$darkmaincolor: rgb(76, 0, 139);
$whitecolor: #fff;
$loginbackColor:#EFF2F1;
$inputbackcolor:$menucolor;
$inputcolor: #260739;
$mainloginLogo: url('./../../img/logon.png') ;
